* {
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;    
    font-family: 'Merienda', cursive;
}

footer{
    background-color: #dbb487;
    height: 85px;
    border-radius: 10px;
}

footer section{   
    display: flex;   
    justify-content: center;
   
}

footer img{
    width: 50px;
	padding: 20px;
}


.sectionStandar{
    width: 1200px;
    margin: 0px auto;   
}


h1, h2{
    width: 100%;
    margin-bottom: 10px;
    text-align: left;  
}

h2{
    text-align: center;
}

p{
    text-align: left;
    padding-bottom: 10px;
}


#menu{
    margin: 0;   
    background-color: #dbb487;
    border-radius: 10px;
}

#menu ul {
    list-style-type: none;
    list-style-image: none;
    width: 1400px;
    margin: 0px auto;   
    overflow: hidden;
}

#menu ul li {
   display: inline-block;
}

#menu ul li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    width: 200px;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
    border-radius: 10px;
}

#menu ul li a:hover {
    background-color: #e28d51;
    color: white;
}

#menu ul li a.activo {
    background-color: #ccc;
    color: black;
}


#pelicula{    
    font-family: 'Libre Baskerville', serif;
    font-family: 'Merienda', cursive;    
    background-image: url(img//fondoPelicula2.jpg);
    background-size: cover;
    width: 100%;   
    background-attachment: fixed;
    background-position: center;

    color:#b36229;  
    text-align: center;
    display: flex;
    align-items: flex-end;   
    height: 600px; 
    font-size: 30px;
}


#pelicula h1, p{      
    text-align: center; 
    padding-bottom: 10px;   
}


/* ***********************************  INICIO SINOPSIS   ************************************************* */

#sinopsis article{
    display: flex;
}

#sinopsis div { 
    display: flex;
    flex-wrap: wrap;   
    gap: 20px;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-start;
    margin-right: 20px;
    text-align: center;
}

#sinopsis img{    
    width:300px;    
    object-fit: cover;       
} 


#masInfo{   
    padding: 20px; 
    width: 80px;
    height: 15px;
	margin-bottom: 20px;
    background-color:#dbb487;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
}
/* ***********************************  FIN  SINOPSIS   ************************************************* */


/* ***********************************  INICIO CRITICA   ************************************************* */
#critica{
  
    background-color: cadetblue;
    background-size: cover;
    width: 100%; 
    height: 550px;    
}

#critica article{
    padding: 20px;    
    width: 300px;
}

#critica div{    
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;      
    justify-content: center;  
}

#critica h1{
    text-align: center;
}

#critica article{    
    width: calc(100% / 3 -20px);
} 

#critica article:nth-of-type(1){
    width: calc((100% / 3 - 30px) * 3);
}

i, cite{
    text-align: center;
    display: flex;  
    justify-content: center;
}
/* ***********************************  FIN CRITICA   ************************************************* */


/* ***********************************  INICIO ACTORES   ************************************************* */
#actores div{
    display: grid;
    gap:10px;    
    grid-template-columns: repeat(4, 3fr);    
}

#actores h1{   
    color: rgb(4, 77, 4);
    padding-bottom: 20px;
}

#actores article{
    padding: 10px;
    overflow:hidden;
    width: auto;
    text-align: left;

} 

#actores article:nth-of-type(1){
    grid-column: span 4;  
    height: 120px;   
}

.item-grid{       
    width: calc(100%/2 - 40px);
   
}

#actores article:nth-of-type(2){
    grid-row: span 2;
}

#actores article:nth-of-type(6){
    grid-column: span 2;  
    
}

#actores article:nth-of-type(2) img{
    width: 100%; 
    height: 600px;
    
}

#actores img{      
	height: 300px;
    object-fit: cover;
    filter: blur(1);
    transition: all 1s;
    
}
#actores img:hover{
    filter: grayscale(0);
   
}

#actores article:nth-of-type(6) img{
    width: 100%; 
    height: 295px;  
    
}

/* ***********************************  FIN ACTORES   ************************************************* */

/* ***********************************  INICIO INFORMACION  TECNICA   ************************************************* */
#infoTecnicaContacto{
    background-image: url(img/fondoPelicula.jpg);  
    background-size: cover;
    width: 100%;    
    color: whitesmoke;     
	
	background-attachment: fixed;
    background-position: center;
}

#infoTecnicaContacto div{
    display: flex;
}

#infoTecnicaContacto article{    
    width: calc(100%/2 - 40px); 
	gap: 20px;
}

table{
    margin-right: 20px;   
    background-color: #f5cd9e;
}

td img{
    width: 76px;
}

tr:nth-child(2n){
    background-color: #f4a36a;
}

td p:nth-child(2){    
    font-size: 12px;
    font-style: italic;
}

#infoTecnicaContacto form{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 0;  
    padding: 30px;   
    background-color: #f5cd9e;
    background-size: cover; 
       
}

fieldset{
    width: calc(100% - 30px);
    border: none;
}



input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: tomato
}

input:required {
    background-color: rgb(248, 195, 186);
}

input::placeholder {
    color: green;
}

input:valid {
    background-color: rgb(192, 204, 192);
}

input, select{    
    height: 30px;
    margin-bottom: 10px;      
} 

select{
    width: 80%;
}

textarea{
    resize: none;
    width: 100%;   
}

#txtNombre{
    width: 100%;
    height: 30px;   
} 

#txtMail{   
    width: 100%;    
}


.contacto{
    display: flex;    
    gap: 15px;  
    
}

.puntuacion{
    display: flex;
    flex-direction: column;   
}

input[type="submit"]{
    background-color: brown;
    padding: 10px;
    margin-top: 20px;
    width: 90px;
    height: 40px;
    border-radius: 8px;    
    margin-left: auto;    
}

input[type="submit"]:hover{
    background-color: #dbb487;
}

/* ***********************************  FIN INFORMACION  TECNICA   ************************************************* */

#irArriba{
    display: inline-block;
    padding: 20px;    
    font-size: 30px;  
    position: fixed;
    bottom: 0;
    right: 0;
}    

